<div class="cube">
  <img class="cube"
    src="/static/assets/{{imageUrl}}">
  <p class="name">{{name}}</p>
  <p><span>Price:</span> {{price}}</p>
  <a class="btn" href="/details/{{_id}}">Details</a>
  <p class="description">{{description}}</p>
  <button class="see-more">Show more</button>
</div>